@import "tailwindcss";



.color-tab {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.color {
    min-height: 400px;
    flex-grow: 4;
}

.hex {
    min-height: 100px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}